body {
  background-color: #ecf0f3;
}
.resume-btn {
  border-radius: 4px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 7px 7px 14px #898989, -7px -7px 14px #ffffff;
  border: none;
  padding: 9px 12px;
  font-weight: bold;
  border-radius: 3px;
  color: #00a1ffe3;
}
